:root{
    --primary-text-color: #434455;
    --secondary-text-color: #4D5AE5;
    --tittle-text-color: #2E2F42;
    --accent-color: #404BBF;
    --background-color: #FFFFFF;
    --background-dop-color: #F4F4FD;
}



/* HEADER ! ! ! */
.adress-list{
    font-style: normal;
}
a{
    list-style: none;
    text-decoration: none;
}
.list{
    list-style: none;
}
.list{
    text-decoration: none;
}
.list{
    outline: none;
}
.list:hover,
.list:focus{
    color: var(--accent-color);
}
.item:hover,
.item:focus{
    color: var(--accent-color);
}


.link{
    text-decoration: none;
}
.contact-list:hover,
.contact-list:focus{
    color: var(--accent-color);
}

.logotype {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-text-color)
}
.addlogocolor{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--tittle-text-color);
}
.item{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
}
.contact-list{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}


/* HEROOO! ! !  */
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}
.hero{
    background: #2E2F42;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07 ;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
}
.btn-link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--background-color);
    background: var(--secondary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }
    
    .btn-link:hover,
    .btn-link:focus
    {
        background: #404BBF
    }
    .btn-link{
        cursor: pointer;
    }
/* SECTION ОСОБЛИВОСТІ */
.content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
}
.information-content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* HEADER 2 ! ! ! !  */
.addheader
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--tittle-text-color);
}
.addheader-team{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--tittle-text-color);
background-color: var(--background-dop-color)
}
.team-back{

background: var(--background-dop-color);
}
.back-white{
    background-color: var(--background-color)
}
.photo-back{
    background-color: var(--background-color);
}
.ourteam-content
{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
align: left;
letter-spacing: 0.02em;
color: var(--tittle-text-color);
}
.work-content
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
.footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-dop-color);
}
.footer-backcolor{
    color: var(--background-dop-color);

}
.background-color{
    background: var(--tittle-text-color);
}
.portfolio-h{
    background-color: var(--background-color);
}
.btn-portfolio{
    color: var(--secondary-text-color);
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--background-dop-color);
}
.btn-portfolio:hover{
    color: var(--background-color);
    background-color: var(--accent-color)
}
.btn-portfolio:focus{
    color: var(--background-color);
    background-color: var(--accent-color);
}
.btn-portfolio{
    cursor: pointer;
}
.content-portfolio{
    color: var(--tittle-text-color);
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.features{
    width: 75px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--primary-text-color);
}